/* color: #372ED6; */

/*---------------------*/
/* Basic setup */
/*---------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------*/
/* global settings */
/*---------------------*/
body{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #707070;
}

h1, h2, h3{
    color: #575757;
}

h1{
    font-size: 50px;
    line-height: 130%;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 31px;
}

/*---------------------*/
/* SECTION HERO */
/*---------------------*/
.section-hero{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width span{
    color: #3c33e4;
}

.half-width img{
    width: 80%;
}