/* color: #372ED6; */

/*---------------------*/
/* Basic setup */
/*---------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------*/
/* global settings */
/*---------------------*/
body{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #707070;
}

h1, h2, h3{
    color: #575757;
}

h1{
    font-size: 50px;
    line-height: 130%;
    margin-bottom: 10px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 31px;
}

p{
    margin-bottom: 50px;
}

/*---------------------*/
/* REUSEBLE COMPONENT */
/*---------------------*/

.half-width a{
    text-decoration: none;
    padding: 15px 25px;
    background-image: linear-gradient( 45deg, #77f, #0000ff);
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    transition: 0.2s;
}

.half-width a:hover{
    color: tomato;
}

/*---------------------*/
/* SECTION HERO */
/*---------------------*/
.flexible-container{
    display: flex;
}

.section-hero{
    padding-top: 25px;
    padding-bottom: 105px;
}

.hero:first-child{
    margin-top: 95px;
}

.hero:last-child{
    margin-top: 20px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width span{
    color: #77f;
}

.half-width img{
    width: 80%;
}

/*---------------------*/
/* ABOUT ME SECTION START */
/*---------------------*/

.section-about{
    background: url(../img/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0;
}

.about img{
    width: 55%;
    float: right;
    margin-right: 20%;
}

.about:first-child{
    margin-top: 3%;
}

.about:last-child{
    margin-top: 13%;
}

/*---------------------*/
/* ABOUT ME SECTION END */
/*---------------------*/

/*---------------------*/
/* RECIPIES SECTION START */
/*---------------------*/

.section-recipies{
    padding: 5%;
}
.recipies h2{
    text-align: center;
}

.recipies p{
    text-align: center;
    padding: 0 25%;
}

.food-menu{
    width: 27%;
    margin-right: 3%;
    margin-left: 3%;
    padding: 15px;
    box-shadow: 10px 10px 30px #b3b3b3;
    border-radius: 15px;
}

.food-menu img{
    width: 100%;
}

/*---------------------*/
/* RECIPIES SECTION END */
/*---------------------*/

/*---------------------*/
/* SUBSCRIBE SECTION START */
/*---------------------*/

.section-subscribe{
    padding: 50px 8%;
}

.subscribe-row{
    border-radius: 15px;
    box-shadow: 10px 5px 25px #b3b3b3;
}

.subscribe{
    width: 33%;
    text-align: center;
    padding: 15px 0;
}

.subscribe p{
    margin: 0;
}

/*---------------------*/
/* SUBSCRIBE SECTION END */
/*---------------------*/

/*---------------------*/
/* FOOTER SECTION START */
/*---------------------*/

footer{
    background-color: black;
    padding: 25px 0;
}

footer div{
    text-align: center;
}

footer div h2{
    color: #fff;
    text-transform: uppercase;
}

.food{
    color: tomato;
}

footer div p{
    margin: 0;
    color: #fff;
}